.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
.*.swp
tests/gpu/misc/hosts

tests/gpu/misc/hosts

tmp

# Use for build reports
/reports

# Certificates directory
certificates/

# Mac files
*.DS_Store
